*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calculator {
  width: 30rem;
  padding: 3rem 2rem;
  background-color: black;
  border-radius: 1rem;
}

.calculatorScreen {
  width: 100%;
  height: 6rem;
  background-color: white;
}

.textDisplay {
  border: 1px solid pink;
  height: 100%;
  text-align: right;
  font-size: 3rem;
}

.calculatorButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
}

button {
  color: black;
  padding: 1rem 1.6rem;
  background-color: white;
  margin: 0.5rem;
  border: none;
  border-radius: 3.5rem;
  font-size: 3rem;
  flex: 2;
}

button:hover {
  background-color: gray;
}

.acButton {
  background-color: red;
  color: white;
  font-size: 2.5rem;
  padding: 1rem 1rem;
}